openapi: 3.2.0
info:
  title: Emulate Content REST API (derived) Posts API
  version: '2'
  summary: Anonymous read-only REST surface behind emulatebio.com, exposing Emulate's news, blog posts, marketing forms, resource library and Organ-Chip support/protocol content as JSON.
  description: Emulate, Inc.
  contact:
    name: Emulate, Inc.
    url: https://emulatebio.com/contact/
  x-derived-by:
    organization: API Evangelist
    url: https://apievangelist.com
servers:
- url: https://emulatebio.com/wp-json
  description: Production WordPress REST API root for emulatebio.com
tags:
- name: Posts
  description: Emulate blog posts.
paths:
  /emulate-posts/v2/posts:
    get:
      operationId: listPosts
      tags:
      - Posts
      summary: List Emulate blog posts
      description: Returns a flat array of blog post records. Each record adds `media_url`, `landscape_url`, `img_id`, `link`, `display_date` and `cats` to the standard WordPress post fields.
      responses:
        '200':
          description: Blog post collection.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BlogPost'
      x-evidence:
        url: https://emulatebio.com/wp-json/emulate-posts/v2/posts
        fetched: '2026-08-01'
        http_status: 200
        observed_items: 62
components:
  schemas:
    WordPressPost:
      type: object
      description: A raw WordPress `WP_Post` record as returned by the Emulate namespaces. Field names are WordPress internals, not a designed public contract.
      properties:
        ID:
          type: integer
        post_author:
          type: string
        post_date:
          type: string
        post_date_gmt:
          type: string
        post_content:
          type: string
        post_title:
          type: string
        post_excerpt:
          type: string
        post_status:
          type: string
        comment_status:
          type: string
        ping_status:
          type: string
        post_password:
          type: string
        post_name:
          type: string
        post_modified:
          type: string
        post_modified_gmt:
          type: string
        post_parent:
          type: integer
        guid:
          type: string
        menu_order:
          type: integer
        post_type:
          type: string
        post_mime_type:
          type: string
        comment_count:
          type: string
        filter:
          type: string
    BlogPost:
      allOf:
      - $ref: '#/components/schemas/WordPressPost'
      - type: object
        properties:
          media_url:
            type: string
          landscape_url:
            type: string
          img_id:
            type:
            - integer
            - string
          link:
            type: string
            format: uri
          display_date:
            type: string
          cats: {}
x-provenance:
  generated: '2026-08-01'
  method: derived
  source: https://emulatebio.com/wp-json/
  note: Derived by API Evangelist from the live, anonymous WordPress REST API route index published at https://emulatebio.com/wp-json/ on 2026-08-01, and from an observed HTTP GET of every path below. Emulate, Inc. does not publish an OpenAPI description; this document describes only routes and response shapes that were actually observed on the wire. Paths, methods and response structures are recorded verbatim from those responses. Nothing here is invented — where a shape was not observable it is left unconstrained rather than guessed.
