openapi: 3.2.0
info:
  title: Emulate Content REST API (derived) Support API
  version: '2'
  summary: Anonymous read-only REST surface behind emulatebio.com, exposing Emulate's news, blog posts, marketing forms, resource library and Organ-Chip support/protocol content as JSON.
  description: Emulate, Inc.
  contact:
    name: Emulate, Inc.
    url: https://emulatebio.com/contact/
  x-derived-by:
    organization: API Evangelist
    url: https://apievangelist.com
servers:
- url: https://emulatebio.com/wp-json
  description: Production WordPress REST API root for emulatebio.com
tags:
- name: Support
  description: Organ-Chip protocols, user guides and data-analysis content.
paths:
  /emulate-support/v2/support:
    get:
      operationId: listSupportContent
      tags:
      - Support
      summary: List Organ-Chip support protocols and user guides
      description: 'Returns a two-element array: the first element carries `posts` (support protocols and user guides), the second carries the `models` and `protocols` taxonomies.'
      responses:
        '200':
          description: Support collection plus its taxonomies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostsAndTaxonomies'
      x-evidence:
        url: https://emulatebio.com/wp-json/emulate-support/v2/support
        fetched: '2026-08-01'
        http_status: 200
        observed_items: 26
        observed_taxonomies:
        - models
        - protocols
  /emulate-support/v2/data-analysis:
    get:
      operationId: listDataAnalysisTools
      tags:
      - Support
      summary: List data-analysis tool entries
      description: Backs the data-analysis tooling listing under Support. When probed anonymously it answered HTTP 200 with an empty body, so no response shape is asserted here.
      responses:
        '200':
          description: Data-analysis tool collection. Observed as an empty body on an anonymous probe; the shape is not asserted.
      x-evidence:
        url: https://emulatebio.com/wp-json/emulate-support/v2/data-analysis
        fetched: '2026-08-01'
        http_status: 200
        observed_body_bytes: 0
components:
  schemas:
    WordPressPost:
      type: object
      description: A raw WordPress `WP_Post` record as returned by the Emulate namespaces. Field names are WordPress internals, not a designed public contract.
      properties:
        ID:
          type: integer
        post_author:
          type: string
        post_date:
          type: string
        post_date_gmt:
          type: string
        post_content:
          type: string
        post_title:
          type: string
        post_excerpt:
          type: string
        post_status:
          type: string
        comment_status:
          type: string
        ping_status:
          type: string
        post_password:
          type: string
        post_name:
          type: string
        post_modified:
          type: string
        post_modified_gmt:
          type: string
        post_parent:
          type: integer
        guid:
          type: string
        menu_order:
          type: integer
        post_type:
          type: string
        post_mime_type:
          type: string
        comment_count:
          type: string
        filter:
          type: string
    PostsAndTaxonomies:
      type: array
      description: 'Two-element envelope used by the news, resources and support routes. Element 0 is `{ "posts": [...] }`; element 1 is an object of taxonomy name to term map.'
      items:
        oneOf:
        - type: object
          properties:
            posts:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/WordPressPost'
                - type: object
                  properties:
                    media_url:
                      type: string
                    post_link:
                      type: string
                      format: uri
        - type: object
          additionalProperties:
            type: object
x-provenance:
  generated: '2026-08-01'
  method: derived
  source: https://emulatebio.com/wp-json/
  note: Derived by API Evangelist from the live, anonymous WordPress REST API route index published at https://emulatebio.com/wp-json/ on 2026-08-01, and from an observed HTTP GET of every path below. Emulate, Inc. does not publish an OpenAPI description; this document describes only routes and response shapes that were actually observed on the wire. Paths, methods and response structures are recorded verbatim from those responses. Nothing here is invented — where a shape was not observable it is left unconstrained rather than guessed.
