openapi: 3.2.0
info:
  title: Emulate Content REST API (derived) Jobs API
  version: '2'
  summary: Anonymous read-only REST surface behind emulatebio.com, exposing Emulate's news, blog posts, marketing forms, resource library and Organ-Chip support/protocol content as JSON.
  description: Emulate, Inc.
  contact:
    name: Emulate, Inc.
    url: https://emulatebio.com/contact/
  x-derived-by:
    organization: API Evangelist
    url: https://apievangelist.com
servers:
- url: https://emulatebio.com/wp-json
  description: Production WordPress REST API root for emulatebio.com
tags:
- name: Jobs
  description: Careers / job listings.
paths:
  /emulate-jobs/v2/jobs:
    get:
      operationId: listJobs
      tags:
      - Jobs
      summary: List job listings
      description: Careers listing endpoint. When probed anonymously with no arguments it answered HTTP 200 with an in-body error envelope (`{"status":404,"error":"Job not found"}`), so the selector this route expects is not publicly documented. The route index declares no arguments.
      responses:
        '200':
          description: Job listing collection, or an in-body error envelope when no listing matches.
          content:
            application/json:
              schema:
                oneOf:
                - type: array
                  items:
                    type: object
                - $ref: '#/components/schemas/InBodyError'
      x-evidence:
        url: https://emulatebio.com/wp-json/emulate-jobs/v2/jobs
        fetched: '2026-08-01'
        http_status: 200
        observed_body: '{"status":404,"error":"Job not found"}'
components:
  schemas:
    InBodyError:
      type: object
      description: Error envelope observed on `/emulate-jobs/v2/jobs`. Note the HTTP status stays 200 and the real status is carried in the body — not RFC 9457 Problem Details.
      properties:
        status:
          type: integer
        error:
          type: string
x-provenance:
  generated: '2026-08-01'
  method: derived
  source: https://emulatebio.com/wp-json/
  note: Derived by API Evangelist from the live, anonymous WordPress REST API route index published at https://emulatebio.com/wp-json/ on 2026-08-01, and from an observed HTTP GET of every path below. Emulate, Inc. does not publish an OpenAPI description; this document describes only routes and response shapes that were actually observed on the wire. Paths, methods and response structures are recorded verbatim from those responses. Nothing here is invented — where a shape was not observable it is left unconstrained rather than guessed.
