openapi: 3.2.0
info:
  title: Emulate Content REST API (derived) Discovery API
  version: '2'
  summary: Anonymous read-only REST surface behind emulatebio.com, exposing Emulate's news, blog posts, marketing forms, resource library and Organ-Chip support/protocol content as JSON.
  description: Emulate, Inc.
  contact:
    name: Emulate, Inc.
    url: https://emulatebio.com/contact/
  x-derived-by:
    organization: API Evangelist
    url: https://apievangelist.com
servers:
- url: https://emulatebio.com/wp-json
  description: Production WordPress REST API root for emulatebio.com
tags:
- name: Discovery
  description: WordPress REST API discovery documents.
paths:
  /:
    get:
      operationId: getApiIndex
      tags:
      - Discovery
      summary: Get the WordPress REST API route index
      description: Returns the site index document listing every registered namespace and route, including the six first-party `emulate-*` namespaces.
      responses:
        '200':
          description: Route index document.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  description:
                    type: string
                  url:
                    type: string
                    format: uri
                  home:
                    type: string
                    format: uri
                  namespaces:
                    type: array
                    items:
                      type: string
                  routes:
                    type: object
      x-evidence:
        url: https://emulatebio.com/wp-json/
        fetched: '2026-08-01'
        http_status: 200
x-provenance:
  generated: '2026-08-01'
  method: derived
  source: https://emulatebio.com/wp-json/
  note: Derived by API Evangelist from the live, anonymous WordPress REST API route index published at https://emulatebio.com/wp-json/ on 2026-08-01, and from an observed HTTP GET of every path below. Emulate, Inc. does not publish an OpenAPI description; this document describes only routes and response shapes that were actually observed on the wire. Paths, methods and response structures are recorded verbatim from those responses. Nothing here is invented — where a shape was not observable it is left unconstrained rather than guessed.
